:root {
  /* Color */
  --color-blue: #355C7D;
  --color-dark-pink: #C06C84;
  --color-pink: #F96C94;
  --color-light-pink: #FFD6E2;
  --color-white: #ffffff;
  --color-black: #000000;

  /* Font size */
  --font-medium: 48px;
  --font-regular: 36px;
  --font-small: 32px;
}

@font-face {
  font-family: 'SeoulHangangM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  font-family: 'SeoulHangangM';
  background: var(--color-blue);
  background: linear-gradient(38deg, var(--color-blue) 0%, var(--color-dark-pink) 100%) no-repeat;
  color: var(--color-white);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-white);
  padding: 20px 50px;
  white-space: nowrap;
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-medium);
}

.header_logo img {
  width: 132px;
  height: 101px;
}

.header_logo span {
  margin-left: 10px;
}

.header_search {
  width: 504px;
  height: 92px;
  border: 1px solid var(--color-light-pink);
  border-radius: 46px;
  background-color: transparent;
}

.header_search img {
  width: 75px;
  height: 69px;
  position: relative;
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
}

.header_userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_userInfo img {
  width: 89px;
  height: 89px;
}

.header_userInfo span {
  margin-left: 10px;
  font-size: var(--font-medium);
}

/* Intro - Login / Signin*/
.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loin */
.login_modal {
  position: relative;
  width: 769px;
  height: 392px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--color-blue);
  background: linear-gradient(225deg, var(--color-blue) 0%, var(--color-dark-pink) 85%) no-repeat;
  border-radius: 50px;
  padding: 100px;
}

.login_modal input,
.login_modal input:focus,
.login_modal input:active {
  width: 80%;
  font-family: 'SeoulHangangM';
  color: var(--color-white);
  font-size: var(--font-regular);
  box-shadow: none;
  outline: none;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid var(--color-light-pink);
  cursor: pointer;
  caret-color: var(--color-white);
}

.login_modal input::placeholder {
  color: #FFE5E5;
}

.login_button img {
  position: absolute;
  right: 20%;
  bottom: 10%;
  text-align: right;
  width: 216.5px;
  height: 78px;
}