:root {
  /* Color */
  --color-blue: #355C7D;
  --color-dark-pink: #C06C84;
  --color-pink: #F96C94;
  --color-light-pink: #FFD6E2;
  --color-white: #ffffff;
  --color-black: #000000;

  /* Font size */
  --font-medium: 48px;
  --font-regular: 36px;
  --font-small: 32px;
}

@font-face {
  font-family: 'SeoulHangangM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  font-family: 'SeoulHangangM';
  background: rgb(53, 92, 125);
  background: linear-gradient(38deg, rgba(53, 92, 125, 1) 0%, rgba(192, 108, 132, 1) 100%) no-repeat;
  color: white;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}